.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position; absolute;
    width; 100%;
    overflow: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}
    

#mainbox {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #FBF9EC;
    padding: 20px;
}


footer {
    background-color: #F59797;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    height: 15%;
    left: 0;
}
