

/*---------------------- FIN BARRA DE NAVEGACIÓN -------------------*/



/*---------------------- Carrusel INDEX-------------------*/

.carousel {
  display: grid;
  grid-area: carrusel;
}
/*---------------------- FIN INDEX-------------------*/





/*---------------------- FIN CONTACTO -------------------*/
#grilla {
  display: grid;
  height: 20vh;
  width: 50%;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "navegacion titulo aside"
    "navegacion img aside"
    "navegacion img aside"
    "desc desc desc";
  padding: 10px;

}

#grilla .border {
  border: 2px solid black;

}


#grilla .navegacion {
  background-color: red;
  grid-area: navegacion;
}

#grilla .titulo {
  background-color: purple;
  grid-area: titulo;
}


#grilla .img-prod {
  background-color: blue;
  grid-area: img
}


#grilla .aside {
  background-color: yellow;
  grid-area: aside;
}

#grilla .desc {
  background-color: orange;
  grid-area: desc;
}






