* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  /* background: #f5efdb; */
  font-family: 'Patrick Hand', cursive;
  background: linear-gradient(180deg, rgb(245 239 220) 23%, #bbeaf1b0 37%, #8de4dc 82%);
  z-index: 1;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

label {
  margin: 10px;
}

input {
  float: right;
}

input[type=submit],
input[type=reset] {

  border: 4px solid #f8b8b8;
  background-color: #f6a09f;
  width: 10vw;
  margin-left: 5%;
  color: white;
  float: initial;
  position: relative;

}

input[type=text],
input[type=email] {
  border: 2px solid #dbf7ef;
  background-color: #8ce5de;
  width: 10vw;
  margin-left: 5%;
  color: white;
  position: relative;
  height: 2vh;
  padding: 2px
}

/*---------------------- BARRA DE NAVEGACIÓN-------------------*/

nav {
  position: sticky;
  top: 0;


}

.navbar-content {
  overflow: auto;
  line-height: 33px;
  background-color: #eeddaa;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%
}

.navbar-content a {
  color: white;
  font-family: 'Nerko One', cursive;
  text-decoration: none;
  font-size: 1.5em;


}


.navbar-content a:hover {

  background-color: #d0e5d3;
  height: 100%;
  width: 10vw;
  text-align: center;
  padding: 0 10px 0 10px;
}

/*---------------------- FIN BARRA DE NAVEGACIÓN -------------------*/


/*---------------------- INDEX -------------------*/
#welcome {
  background-color: transparent;
  width: 50vw;
  z-index: 3;
  font-size: 3em;
  font-family: 'Nerko One', cursive;
  text-align: center;
  color: #fcfefe;
  text-shadow: #bbeaf1 -1px 4px 5px;
  display: inline-block;
  text-align: center;
  margin-left: 22vw;

}

#intro {
  width: 20%;
  height: 46vh;
  overflow: auto;
  /* display: block; */
  background-color: #fed9d7;
  /* margin: 1vh 32vw; */
  border: 1em solid #F8B8B8;
  /* z-index: 2; */
  color: #f3fefc;
  font-size: 1.2em;
  /* position: relative; */
  padding: 2%;
  line-height: 150%;
}

#mainbox {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #FBF9EC;
  padding: 20px;
  top: 50px;
  position: relative;
}

/*---------------------- Carrusel INDEX-------------------*/

#toggleContainer label {
  text-align: center;
  width: 70px;
  font-family: 'Nerko One';
  color: #f29693;
  font-size: 1.3em;
}

#container {
  box-sizing: border-box;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  gap: 3%;
}

#toggleContainer {
  height: 5vh;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  width: 22vw;
  position: relative;
  /* top: 14vh; */
  left: 41vw;
}

#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  top: -16vh;
  position: relative;
  z-index: -1;
}

#galleryView {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vh;
}

#galleryContainer {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;

}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.tileItem:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;

}


#outer3 {
  width: 100px;
  height: 40px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: #f5a2a1;
  border-radius: 3px;
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  -ms-transform: translatex(50px);
  -o-transform: translatex(50px);
  transform: translatex(50px);
  transition: all 0.5s;
  background-color: #f5a2a1;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 45vh;
  width: 45vh;
  border-radius: 5px;
  background-color: #f5a2a1;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
}

#leftView {
  height: 45vh;
  width: 30vh;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 45vh;
  width: 30vh;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #eb9100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

/*---------------------- FIN INDEX-------------------*/


/*---------------------- CONTACTO-------------------*/

.contact {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -1vh;
  z-index: -1;

}

.contact::before {
  opacity: 0.3;
  background-image: url(/images/heart-wallpaper.jpg);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact__box {
  width: 40vw;
  height: 50vh;
  position: relative;
  background-color: red;
  margin: 0 auto;
  top: 18vh;
  display: flex;
}

.contact__box .data {
  width: 40%;
  height: 100%;
  background-color: #8ce5de;

}

.contact__box .data span {
  display: block;
  margin: 20px 0;
  overflow: auto;
  padding: 0 1%;
  width: 98%;
  color: #f6a09f;
}

.contact__box .form {
  width: 60%;
  height: 100%;
  background-color: #fcfefd;

}

.contact__box .form span {
  display: block;
  margin: 20px 0;
  overflow: auto;
  padding: 0 1%;
  width: 98%;
  color: #8ce5de;
}

/*---------------------- FIN CONTACTO -------------------*/
/*---------------------- PACIFIERS -------------------*/

#caja-productos {
  justify-items: stretch;
  align-items: stretch;
  display: grid;
  width: 95%;
  /* grid-template-columns: auto auto; */
  grid-column-gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;

}

#grilla {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer footer";
  grid-template-rows: 0vh 5vh 40vh 0vw;
  grid-template-columns: 19vh 50vh 30vh;
}

#grilla .border {
  border: 1px solid black;

}

section#productos {
  grid-area: productos;
}

section#servicios {
  grid-area: servicios;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: publicidad;
}




/*---------------------- FOOTER-------------------*/

footer {
  background-color: rgb(238, 221, 170);
    position: absolute;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    bottom: 0px;
    height: 20%;
    left: 0px;
}

footer img {
  height: 200px;
}

.footer_cont {
  list-style-type: none;
    color: white;
    font-size: 1.2em;
    /* padding: 30px; */
    line-height: 5vh;
    flex-direction: column;
    display: flex;
}