* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Patrick Hand", cursive !important;
  background: linear-gradient(180deg, rgb(245, 239, 220) 23%, rgba(187, 234, 241, 0.6901960784) 37%, #8de4dc 82%);
  width: 100%;
  background-attachment: fixed;
  position: relative;
  /* min-height: 100vh; */
}

h1 {
  font-family: "Nerko One", cursive;
  color: #fcfefe;
  text-shadow: #bbeaf1 -1px 4px 5px;
  text-align: center;
}

h2 {
  font-family: "Nerko One", cursive;
  color: #fcfefe;
  background-color: pink;
  padding: 20px;
  margin-top: 20px;
}

label {
  margin: 10px;
}

input {
  float: right;
}

input[type=submit],
input[type=reset] {
  border: 4px solid #f8b8b8;
  background-color: #f6a09f;
  width: 10vw;
  margin-left: 5%;
  color: white;
  float: initial;
  position: relative;
}

input[type=text],
input[type=email],
textarea {
  border: 2px solid #dbf7ef;
  background-color: #8ce5de;
  width: 10vw;
  margin-left: 5%;
  color: white;
  position: relative;
  height: 2vh;
  padding: 2px;
}

textarea {
  height: 100%;
  width: 90%;
}

i {
  margin-left: 5%;
  padding: 10px;
  margin-top: -10px;
}

.faq {
  background-color: #f59797;
  padding: 10px;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav__content {
  overflow: auto;
  line-height: 33px;
  background-color: #eeddaa;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.nav__content a {
  color: white;
  font-family: "Nerko One", cursive;
  text-decoration: none;
  font-size: 1.5em;
}
.nav__content a:hover {
  background-color: #d0e5d3;
  height: 100%;
  width: 10vw;
  text-align: center;
  padding: 0 10px 0 10px;
}

.intro {
  z-index: 1;
  font-size: 3em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5%;
  grid-template-areas: "intro carrusel";
}
.intro__box {
  overflow: auto;
  background-color: #fed9d7;
  color: #d39897;
  font-size: 1.2rem !important;
  padding: 2%;
  display: grid;
  grid-area: intro;
  border: 10px solid #efb7b6;
  width: 30vw;
}

/*---------------------- START PRODUCT CARDS-------------------*/
#caja-productos {
  display: flex;
  justify-content: center;
  flex-direction: row !important;
  width: 100%;
}

.products {
  display: flex;
  justify-content: space-around;
}

.product-card {
  width: 300px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
  display: inline-block;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #f8b5b7;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  /* padding: 50px; */
  background: #f0f0f0;
}
.product-tumb img {
  width: 100%;
  max-height: 1;
}

.product-details {
  padding: 30px;
}
.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}
.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}
.product-details h4 ahover {
  color: #fbb72c;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.product-bottom-details div {
  float: left;
  width: 8;
}

.product-bottom-details .product-price {
  font-size: 18px;
  color: #95e6e0;
  font-weight: 600;
}
.product-bottom-details .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}
.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}
.product-links a:hover {
  color: #fbb72c;
}

/*---------------------- CONTACTO-------------------*/
.contact {
  height: 100vh;
  top: -1vh;
  z-index: -1;
  display: flex;
}
.contact__box {
  width: 40vw;
  height: 70vh;
  position: relative;
  background-color: #8ce5de;
  margin: 0 auto;
  top: 10vh;
  display: flex;
}
.contact__box .form {
  width: 60%;
  height: 100%;
  background-color: #fcfefd;
}
.contact__box .form span {
  display: block;
  margin: 20px 0;
  overflow: auto;
  padding: 0 1%;
  width: 98%;
  color: #8ce5de;
}
.contact__box .data {
  width: 40%;
  height: 100%;
  background-color: #8ce5de;
}
.contact__box .data span {
  display: block;
  margin: 20px 0;
  overflow: auto;
  padding: 0 1%;
  width: 98%;
  color: #fcfefd;
  text-align: center;
}

/*----------- START ABOUT THE SHOP --------*/
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}
.about__box {
  background-color: pink;
  padding: 20px;
  color: white;
  font-size: 1.5em;
}
.about__box__content {
  display: inline-block;
  align-items: center;
  border: 10px solid #daf1ef;
  width: 80%;
  height: 40vh;
  background-color: #e1f5f4;
  padding: 20px;
  overflow: auto;
}
.about__img {
  background-color: red;
  width: 20%;
}

.footer__redes {
  flex-grow: 1;
  left: 10%;
  position: relative;
  color: #fefadd;
  font-size: 1.2em;
  width: 25%;
  display: flex;
  align-self: flex-end;
}
.footer__cont {
  list-style-type: none;
  color: #fefadd;
  font-size: 1.2em;
  flex-direction: column;
  display: flex;
  align-self: center;
}

footer {
  background-color: rgb(238, 221, 170);
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
  flex-direction: row;
}
footer li {
  display: block;
  text-align: center;
  padding: 10px;
}
footer li a {
  text-decoration: none;
  font-weight: 600;
  color: #fefadd;
}
footer li a:hover {
  color: pink;
}
footer img {
  background-color: #eeddaa;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: -7vh;
  flex-grow: 0;
  width: 10%;
}

/*----------- START MOBILE --------*/
@media screen and (max-width: 480px) {
  nav {
    position: relative;
  }
  .nav__content {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .nav__content a {
    border-top: 1px solid #f5a2a1;
    width: 100%;
    text-align: center;
  }
  #welcome {
    font-size: 1.5em;
  }
  .intro {
    grid-template-columns: 1fr;
    grid-template-areas: "carrusel" "intro";
  }
  .intro__box {
    display: none;
  }
  .products {
    display: initial;
  }
  .product-card {
    width: 100vw;
    display: block;
  }
  footer {
    flex-direction: column;
    position: relative;
  }
  footer li {
    display: block;
    text-align: center;
    padding: 10px;
  }
  footer li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
  }
  footer li a:hover {
    color: pink;
  }
  footer img {
    width: 100%;
    background: none;
    position: initial;
    top: 0;
  }
  .footer__redes {
    width: 100%;
    left: 0;
    text-align: center;
    display: inline;
  }
  .footer__cont {
    flex-direction: column;
    width: 100%;
    font-size: 1em;
    justify-content: space-around;
  }
  .footer_cont li::before {
    content: " | ";
  }
  .contact__box {
    flex-direction: column;
    width: 100vw;
  }
  .contact__box .form {
    display: flex;
    width: 100%;
    height: 380px;
  }
  .contact__box .data {
    width: 100%;
  }
  .contact__box .data span {
    flex-direction: column;
  }
  .contact__box input[type=text],
  .contact__box input[type=email],
  .contact__box textarea {
    width: 58%;
    height: 10%;
  }
}
/*---------------------- END MOBILE -------------------*/
/**** ANIMATIONS ***/
/* ----------------------------------------------
   * Generated by Animista on 2023-3-9 13:41:50
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
.flip-in-hor-top {
  animation: flip-in-hor-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
   * ----------------------------------------
   * animation flip-in-hor-top
   * ----------------------------------------
   */
@keyframes flip-in-hor-top {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */