/*----------- START ABOUT THE SHOP --------*/

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    

    &__box {
        background-color: $light-pink;
        padding: 20px;
        color: $white;
        font-size: 1.5em;

        &__content {
            display: inline-block;
            align-items: center;
            border: 10px solid #daf1ef;
            width: 80%;
            height: 40vh;
            background-color: #e1f5f4;
            padding: 20px;
            overflow: auto;
        }
            
        }

        &__img {
            background-color: red;
            width: 20%;
        }
    }
