.footer {

    &__redes {
        flex-grow: 1;
        position: relative;
        color: $white;
        font-size: 1.2em;
        display: flex;
        align-self: flex-end;
        font-weight: 600;
        letter-spacing: 4px;
    }

    &__cont {
        list-style-type: none;
        color: #fefadd;
        font-size: 1.2em;
        flex-direction: column;
        display: flex;
        align-self: center;
    }
}


footer {
    background-color: rgb(238, 221, 170);
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
    flex-direction: row;
    font-size: 0.8em;
    position: absolute;

    li {
        display: block;
        text-align: center;
        padding: 10px;

        a {
            text-decoration: none;
            font-weight: 600;
            color: #f8dad6;
            letter-spacing: 1px;
            background-color: $light-pink;
            padding: 4px;

            &:hover {
                color: #6bdfd4;
            }
        }
    }

    img {
        background-color: #eeddaa;
        border-radius: 50%;
        padding: 10px;
        position: relative;
        top: -7vh;
        flex-grow: 0;
        width: 10%;
    }


}